<style media="screen">
    a {
        display:block;
        width:150px;
        height:77px;

    }

    .backBtn {
        text-align: center;
        padding: 15px;
    }

</style>

{{#if message}}
    <h1 style="text-align: center;">{{this.message}}</h1>
{{else}}
    <h1 style="text-align: center;">PLEASE LOG IN OR REGISTER TO ADD A PATIENT OR MEDICATION</h1>
{{/if}}


<div class="backBtn">
    <a href="/"><h1 style="border-bottom: 2px solid grey;">Home</h1></a>
</div>
