<style media="screen">
    a {
        display:block;
        width:150px;
        height:77px;

    }

    .backBtn {
        text-align: center;
        padding: 15px;
    }

</style>

<h1 style="text-align: center;">Something Went Wrong! Please Go Back and Try Again</h1>

<div class="backBtn">
    <a href="/"><h1 style="border-bottom: 2px solid grey;">Home</h1></a>
</div>
